body {
  background: linear-gradient(135deg, #5f6ad4, #7b3dbb);
  font-family: 'Segoe UI';
}

.container {
  padding: 20px;
  color: white;
}

.search-box {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px;
  background: #7f5af0;
  color: white;
  border: none;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 15px;
}

.actions {
  display: flex;
  gap: 10px;
}

.edit {
  background: orange;
}

.delete {
  background: red;
  color: white;
}

.form input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}